{% extends "base.html" %}
{% block content %}
    <div class="appname">
      <a href="{% url 'home' %}"><h1>Django<br>Delights</h1></a>
      <h3>smart tool for your restaurant</h3>
      {% if user.username %}
      {% endif %}
    </div>
    </header>
    <main>
      {% if user.username %}
      <h2>Welcome {{ user.username }}</h2>
      <div class="menu">
        <a href="{% url 'ingredientlist' %}" id="ingredients">Ingredients</a>
        <a href="{% url 'menuitemlist' %}">Menu Items</a>
        <a href="{% url 'reciperequirementslist' %}">Recipe Requirements</a>
        <a href="{% url 'purchaselist' %}">Purchase List</a>
        <a href="{% url 'summary' %}">Summary</a>
      </div>
      {% endif %}
    </main>
    <footer></footer>
  </body>
</html>
{% endblock %}

