{% extends "base.html" %}

{% load static%}
<link rel="stylesheet" type="text/css" href='{% static "style.css" %}'>

{% block content %}
<h4>Ingredients</h4>
<div class="buttonrow">
    <a href="{% url 'ingredientcreate' %}"><button type="button" value="Add ingredient">Add ingredient</button></a>
    <a href="{% url 'home' %}"><button type="button" value="Go back">Go back</button></a>
</div>
<table>
    <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Unit</th>
        <th>Price for Unit</th>
        <th></th>
        <th></th>
    </tr>
    {% for ingredient in ingredient_list %}
    <tr>
        <td>{{ ingredient.name }}</td>
        <td>{{ ingredient.quantity }}</td>
        <td>{{ ingredient.unit }}</td>
        <td>{{ ingredient.unit_price }}</td>
        <td class="edit"><a href="{% url 'ingredientupdate' ingredient.id %}"><button type="button" value="Edit">Edit</button></a></td>
        <td class="edit"><a href="{% url 'ingredientdelete' ingredient.id %}"><button type="button" value="Delete">Delete</button></a></td>
    </tr>
    {% endfor%}
</table>

{% if messages %}
  {% for message in messages %}
  <h3 class={{ message.tags }}>{{ message }}</h3>
  {% endfor %}
{% endif %}
</div>
{% endblock %}