{% extends "base.html" %}

{% load static%}
<link rel="stylesheet" type="text/css" href='{% static "style.css" %}'>

{% block content %}
<h2>Ingredients List</h2>
<a href="{% url 'ingredientcreate' %}"><button class="btn">Add Ingredient</button></a>
<a href="{% url 'home' %}"><input type="button" value="Go back"/></a>
<table id="ingredient">
    <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Unit</th>
        <th>Price for Unit</th>
        <th></th>
        <th></th>
    </tr>
    {% for ingredient in ingredient_list %}
    <tr>
        <td>{{ ingredient.name }}</td>
        <td>{{ ingredient.quantity }}</td>
        <td>{{ ingredient.unit }}</td>
        <td>{{ ingredient.unit_price }}</td>
        <td><a href="{% url 'ingredientupdate' ingredient.id %}"><button>Edit</button></a></td>
        <td><a href="{% url 'ingredientdelete' ingredient.id %}"><button>Delete</button></a></td>
    </tr>
    {% endfor%}
</table>

{% if messages %}
  {% for message in messages %}
  <h3 class={{ message.tags }}>{{ message }}</h3>
  {% endfor %}
{% endif %}

{% endblock %}