{% extends "base.html" %}

{% load static%}
<link rel="stylesheet" type="text/css" href='{% static "style.css" %}'>

{% block content %}
<h4>Menu Items</h4>
<div class="buttonrow">
    <a href="{% url 'menuitemcreate' %}"><button type="button" value="Add menu item">Add menu item</button></a>
    <a href="{% url 'home' %}"><button type="button" value="Go back">Go back</button></a>
</div>
<table>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    {% for menuitem in menuitem_list %}
    <tr>
        <td>{{ menuitem.name }}</td>
        <td>{{ menuitem.price }}</td>  
        <td class="edit"><a href="{% url 'menuitemupdate' menuitem.id %}"><button>Edit</button></a></td>
        <td class="edit"><a href="{% url 'menuitemdelete' menuitem.id %}"><button>Delete</button></a></td>
        <td class="edit"><a href="{% url 'purchasecreate' menuitem.id %}"><button>Purchase</button></a></td>
    </tr>
    {% endfor %}
</table>

{% if messages %}
  {% for message in messages %}
  <h3 class={{ message.tags }}>{{ message }}</h3>
  {% endfor %}
{% endif %}


{% endblock %}