{% extends "base.html" %}

{% load static%}
<link rel="stylesheet" type="text/css" href='{% static "style.css" %}'>

{% block content %}
<h2>Menu Item List</h2>
<a href="{% url 'menuitemcreate' %}"><button class="btn">Add Menu Item</button></a>
<a href="{% url 'home' %}"><input type="button" value="Go back"/></a>
<table id="menuitem">
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th></th>
        <th></th>
    </tr>
    {% for menuitem in menuitem_list %}
    <tr>
        <td>{{ menuitem.name }}</td>
        <td>{{ menuitem.price }}</td>  
        <td><a href="{% url 'menuitemupdate' menuitem.id %}"><button>Edit</button></a></td>
        <td><a href="{% url 'menuitemdelete' menuitem.id %}"><button>Delete</button></a></td>
    </tr>
    {% endfor%}
</table>

{% endblock %}