{% extends "base.html" %}

{% load static%}
<link rel="stylesheet" type="text/css" href='{% static "style.css" %}'>

{% block content %}
<h4>Purchase List</h4>
<a href="{% url 'home' %}"><input type="button" value="Go back" class="btn"/></a>
<table id="purchase" class="tablelist">
    <tr>
        <th>Menu Item</th>
        <th>Timestamp</th>
        <th></th>
        <th></th>
    </tr>
    {% for purchase in purchase_list %}
    <tr>
        <td>{{ purchase.menu_item }}</td>
        <td>{{ purchase.timestamp }}</td>  
        <td class="edit"><a href="{% url 'purchaseupdate' purchase.id %}"><button>Edit</button></a></td>
        <td class="edit"><a href="{% url 'purchasedelete' purchase.id %}"><button>Delete</button></a></td>
    </tr>
    {% endfor%}
</table>

{% endblock %}