{% extends "base.html" %}

{% load static%}
<link rel="stylesheet" type="text/css" href='{% static "style.css" %}'>

{% block content %}
<h4>Recipe Requirements</h4>
<div class="buttonrow">
    <a href="{% url 'reciperequirementscreate' %}"><button type="button" value="Add Recipe Requirements">Add Recipe Requirements</button></a>
    <a href="{% url 'home' %}"><button type="button" value="Go back">Go back</button></a>
</div>
<table>
    <tr>
        <th>Menu Item</th>
        <th>Ingredient</th>
        <th>Quantity</th>
        <th></th>
        <th></th>
    </tr>
    {% for reciperequirements in reciperequirements_list %}
    <tr>
        <td>{{ reciperequirements.menu_item }}</td>
        <td>{{ reciperequirements.ingredient }}</td>
        <td>{{ reciperequirements.quantity }}</td>
        <td class="edit"><a href="{% url 'reciperequirementsupdate' reciperequirements.id %}"><button>Edit</button></a></td>
        <td class="edit"><a href="{% url 'reciperequirementsdelete' reciperequirements.id %}"><button>Delete</button></a></td>
    </tr>
    {% endfor%}
</table>

{% endblock %}