* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; /*include padding and margin into size*/
}

html {
    font-size: 12px;
    
    height: 100vh;
}

body {
    background-image: url('/django_delights/django_delights/delights_app/static/restaurant-dish-meal-food-kitchen-cuisine-809795-pxhere.com.jpg');
    background-position: center;
    background-size: cover;
}

header {
    position: relative;
    height: 25vh;
    
}

h1 {
    position: absolute;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #32a0af;
    color: white;
}