* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; /*include padding and margin into size*/
    outline: 1px solid red;
}

html {
    font-size: 12px;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url('restaurant_opacity.jpg');
    background-size: cover;
    background-position: center;
    z-index: 0;
}

header {
    display: flex; 
    flex-direction: column;
    align-items: center;
    flex: 50%;
}

main {
    display: flex;
    flex-direction: column;
    flex: 70%;
}

.appname {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15vh;
}

h1 {
    font-size: 5rem;
    line-height: 9vh;
    text-align: center;
    color: #119671;
    z-index: 2;
}
h1:hover {
    cursor: pointer;
}

h2 {
    margin-top: 2vh;
    margin-bottom: 2vh;
    white-space: nowrap;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #119671;
    z-index: 2;
}

h3 {
    margin-top: 1.5vh;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #119671;
    z-index: 2;
}

h4 {
    margin-top: 15vh;
    margin-bottom: 5vh;
    text-align: center;
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #119671;
}

select {
    height: 8vh;
    width: 100%;
    padding: 2vw;
    margin-bottom: 1vh;
    font-size: 2rem;
    border-color: #119671;
    border-width: 0.3vh;
    border-style: solid;
    border-radius: 1vw;
    color: rgb(37, 37, 37);
}

button {
    padding: 2vw;
    margin: 2vw;
    font-size: 1.4rem;
    border: none;
    border-radius: 1vw;    
    color: #ffffff;
    background-color: #119671;
}
button:hover {
    background: #0f7055;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.buttonrow {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

.gotomenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8vh;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #119671;
}

b {
    font-weight: bolder;
    color: #0e6e53;
}

/* FORM STYLES */
form {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 8vh;
    width: 75%;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 2;
}
form p {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
form p label {
    text-align: left;
    text-transform: lowercase;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #119671;
}
form p input {
    height: 8vh;
    width: 75vw;
    padding: 4vw;
    margin-bottom: 1vh;
    font-size: 2rem;
    border-color: #119671;
    border-width: 0.3vh;
    border-style: solid;
    border-radius: 1vw;
    color: rgb(37, 37, 37);
    background-color: rgb(255, 255, 255);
}
form p input:focus-visible {
    outline-color: #0d7255;
}

form p span,li {
    color: #119671;
}
form p span,ul {
    margin-bottom: 1vh;
}

#accountform {
    margin-top: 20vh;
}

/* TABLE STYLES */
table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
}

td, th {
    padding: 1vw;
}

td {
    text-align: left;
    color: #119671;
    border: 0.2vw solid #adadad;
}

th {
    text-align: left;
    color: white;
    border: 0.2vw solid #0f8362;
    background-color: #119671;
}

tr:nth-child(even) {
    background-color: #e7e7e78f;
}
tr:hover {
    background-color: #ddd;
}
/* EDIT, DELETE BUTTON STYLE */
.edit {
    padding: 0;
    background-color: #119671;
}
.edit button {
    margin: 0;
    padding: 3vh;
    width: 100%;
    border-radius: 0;
    background-color: transparent;
}
.edit:hover {
    background-color: #0e6e53;
    cursor: pointer;
}

/* HAMBURGER ICON */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 3;
}

nav label {
    text-align: right;
    padding: 2vw 4vw;
    font-size: 3rem;
    font-weight: bold;
    color: white;
    background-color: #119671;
}
nav label:hover {
    color: #0f7055;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
nav label:focus {
    opacity: 0.5;
    transition: all 0.2s ease-in-out;
}
nav input {
    display: none;
}

/* VERTICAL HAMBURGER MENU */
.navitems a {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: white;
    background: #119671;
    padding: 2vw 4vw;
}
.navitems a:hover {
    background-color: #0e6e53;
    cursor: pointer;
}

/* HIDE MENU ITEMS */
.navitems { display: none; }

/* TOGGLE SHOW HIDE */
nav input:checked ~ .navitems {
    display: flex;
    flex-direction: column;
    text-align: right;
}

/* MENU BUTTON OPTIONS */
.menu {
    display: flex;
    flex-direction: column;
}
.menu a {
    font-size: 1.6rem;
    text-align: center;
    border: none;
    border-radius: 1vw;
    padding: 4vw 2vh;
    margin: 0vh 6vw 2vh 6vw;    
    color: #ffffff;
    background-color: #119671;
}

.menu a:hover {
    background-color: #0e6e53;
}

/* MEDIA QUERIES */
@media (orientation: landscape) {
    main {
        flex: 60%;
    }
    nav label {
        padding: 2vh 4vh;
    }
    .appname {
        margin-top: 15vw;
    }
    h1 {
        line-height: 9vw;
    }
    h2 {
        margin-top: 2vw;
        margin-bottom: 2vw;
    }
    h3 {
        margin-top: 1.5vw;
    }
    h4 {
        margin-top: 15vw;
        margin-bottom: 5vw;
    }
    select {
        height: 8vw;
        padding: 2vh;
        margin-bottom: 1vw;
        border-width: 0.3vw;
        border-radius: 1vh;
    }
    button {
        padding: 2vh;
        margin: 2vh;
        border-radius: 1vh;
    }
    .gotomenu {
        margin-top: 8vw;
    }
    form {
        margin-top: 8vw;
    }
    form p input {
        height: 8vw;
        padding: 4vh;
        margin-bottom: 1vw;
    }
    form p span,ul {
        margin-bottom: 1vw;
    }
    #accountform {
        margin-top: 20vw;
    }
    nav label {
        padding: 2vh 4vh;
    }
    .navitems a {
        padding: 2vh 4vh;
    }
    .menu a {
        border-radius: 1vh;
        padding: 4vh 2vw;
        margin: 0vw 6vh 2vw 6vh;
    }
}

@media (min-width: 480px) {
    h1 {
        font-size: 6rem;
        line-height: 10vh;
    }
    h2 {
        font-size: 3rem;
    }
    h3 {
        font-size: 1.2rem;
    }
    h4 {
        font-size: 2.2rem;
    }
    button {
        font-size: 1.8rem;
    }
    table {
        font-size: 1.6rem;
    }
    .menu a {
        font-size: 1.8rem;
        margin: 0vh 8vw 2vh 8vw;
    }    
}

@media (min-width: 1024px) {
    .appname {
        margin-top: 10vw;
    }
    h1 {
        font-size: 8rem;
        line-height: 12vh;
    }
    h2 {
        font-size: 5rem;
    }
    h3 {
        font-size: 1.4rem;
    }
    .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .menu a {
        font-size: 2.2rem;
        margin: 0;
    }
    .navitems a {
        font-size: 2rem;
    }    
}