* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; /*include padding and margin into size*/
}

html {
    font-size: 12px;
    overflow: auto;
}

header {
    position: relative;
    height: 100vh;
    background-image: url('restaurant_opacity.jpg');
    background-size: cover;
    background-position: center;
    z-index: 0;
}

nav {
    position: absolute;
    right: 0;
    width: 100vw;
    z-index: 3;
}

h1 {
    position: absolute;
    top: 15vh;
    left: 50vw;
    transform: translateX(-50%);
    font-size: 6rem;
    line-height: 10vh;
    color: #119671;
    z-index: 2;
}

h2 {
    position: absolute;
    top: 45vh;
    left: 50vw;
    transform: translateX(-50%);
    white-space: nowrap;
    font-size: 2.2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #119671;
    z-index: 2;
}

h3 {
    position: absolute;
    top: 37vh;
    left: 50vw;
    transform: translateX(-50%);
    white-space: nowrap;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #119671;
    z-index: 2;
}

h4 {
    position: absolute;
    top: 15vh;
    left: 50vw;
    transform: translateX(-50%);
    white-space: nowrap;
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #119671;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #119671;
}

button:hover {
    cursor: pointer;
}

/* FORM STYLES */
form {
    position: absolute;
    top: 45vh;
    left: 50vw;
    transform: translateX(-50%);
    text-align: left;
    height: 30vh;
    z-index: 2;
}

form p {
    margin-bottom: 1vh;
}

form p input {
    height: 8vh;
    width: 75vw;
    padding: 4vw;
    margin-bottom: 1vh;
    font-size: 2rem;
    border-color: #119671;
    border-style: solid;
    border-radius: 1vw;
    background-color: rgb(255, 255, 255);
}
form p input:focus-visible {
    outline-color: #0d7255;
}

form p label {
    right: 0vw;
    margin: 20vw 0vw;
    text-transform: lowercase;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #119671;
}

#id_username {
    color: rgb(37, 37, 37);
}

/* LOGIN BUTTON */
.login-button {
    position: absolute;
    top: 45vw;
    right: 0vw;
    padding: 2vw;
    font-size: 1.4rem;
    border: none;
    border-radius: 1vw;    
    color: #ffffff;
    background-color: #119671;
}
.login-button:hover {
    background-color: #0e6e53;
    cursor: pointer;
}

/* TABLE STYLES */
table {
    width: 100%;
    border-collapse: collapse;
}

td, th {
    padding: 2vw;
}

td {
    border: 0.2vw solid #adadad;
}

th {
    text-align: left;
    color: white;
    border: 0.2vw solid #0f8362;
    background-color: #119671;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr:hover {
    background-color: #ddd;
}
/* EDIT, DELETE BUTTON STYLE */
.edit {
    background-color: #119671;
}
.edit:hover {
    background-color: #0e6e53;
    cursor: pointer;
}
.edit button {
    padding: 2vw;
    font-size: 1.2rem;
    border: none;  
    color: #ffffff;
    background: none;
}

/* VERTICAL HAMBURGER MENU */
#hamitems {
    display: block;
    z-index: 2; 
}

#hamitems a {
    display: block;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: white;
    background: #119671;
    padding: 2vw 4vw;
}

#hamitems a:hover {
    background-color: #0e6e53;
    cursor: pointer;
}

/* HAMBURGER ICON */
#hamnav label {
    display: block;
    text-align: right;
    padding: 2vw 4vw;
    font-size: 3rem;
    font-weight: bold;
    color: white;
    background-color: #119671;
}
#hamnav label:hover {
    color: #0f7055;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
#hamnav label:focus {
    opacity: 0.5;
    transition: all 0.2s ease-in-out;
}
#hamnav input {
    display: none;
}

/* HIDE MENU ITEMS */
#hamitems { display: none; }

/* TOGGLE SHOW HIDE */
#hamnav input:checked ~ #hamitems {
    display: block;
    text-align: right;
}

/* MENU BUTTON OPTIONS */
#menu {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translateX(-50%);
}
#menu a {
    display: block;
    font-size: 1.6rem;
    text-align: center;
    border: none;
    border-radius: 1vw;
    padding: 2vw;
    margin-top: 2vh;    
    color: #ffffff;
    background-color: #119671;
}

/* TABLE LISTS */
.tablelist {
    position: absolute;
    top: 30vh;
    font-family: Arial, Helvetica, sans-serif;
}
#signupform {
    top: 20vh;
}

.btn {
    position: absolute;
    top: 40vw;
    right: 0vw;
    padding: 2vw;
    margin: 2vw;
    font-size: 1.4rem;
    border: none;
    border-radius: 1vw;    
    color: #ffffff;
    background-color: #119671;
}
.btn:hover {
    background: #0f7055;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

#additem {
    right: 22vw;
}

.submit-button {
    position: absolute;
    top: 78vw;
    right: 23vw;
    padding: 2vw;
    font-size: 1.4rem;
    border: none;
    border-radius: 1vw;
    color: #ffffff;
    background-color: #119671;
}
.submit-button:hover {
    background-color: #0f7055;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
#submitmenu {
    top: 26vh;
}
#submitpurchase {
    top: 20vh;
}
#submitrecipe {
    top: 22vh;
}
#signup {
    top: 58vh;
}

.goback-button {
    position: absolute;
    top: 78vw;
    right: 0vw;
    padding: 2vw;
    font-size: 1.4rem;
    border: none;
    border-radius: 1vw;    
    color: #ffffff;
    background-color: #119671;
}
.goback-button:hover {
    background-color: #0f7055;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.del-question {
    font-size: 1.8rem;
    color: #119671;
}
#del {
    top: 25vh;
}